* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: SBSansText, sans-serif !important;
}

#root {
  background: url(./image/1440.svg) no-repeat;
  background-size: cover;
  max-width: 1920px;
  width: 100%;
  /* min-height: 5443px; */
  margin: auto;
}
@media screen and (max-width: 600px) {
  /* #root {
    min-height: 5700px;
  } */
}
